/* Write your CSS here */
.icon {
  height: 40px;
}
.list-details {
  display: flex;
  justify-content: space-between;
}
.item {
  color: #475569;
  font-family: roboto;
}
.button {
  background-color: transparent;
  border: none;
}
